@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
}
main {
    position: relative;
    height: 100vh;
    display: flex;
    background-color: rgba(255, 0, 0, 0.85);
}

section#telefone {
    background: linear-gradient(135deg, #0072ff 0%, #00c6ff 100%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 24px;
    height: 500px;
    width: 500px;
    display: flex;
    position: absolute;
    }

iframe#tela {
    position: relative;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 400px;
}
